@charset "UTF-8";
body {
  font-family: 'Roboto', sans-serif;
  color: #212121; }

main {
  animation-name: cargaPagina;
  animation-duration: 0.7s; }
  main img {
    width: 100%;
    height: auto; }

@keyframes cargaPagina {
  0% {
    opacity: 0;
    transform: translateY(-0.635rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center; }

h2 {
  font-size: 1.25rem; }

h3 {
  font-size: 1rem;
  font-weight: 500; }

a {
  text-decoration: none;
  color: #212121; }
  a:hover {
    text-decoration: underline;
    color: #212121; }

.seleccionado {
  text-decoration: underline;
  text-decoration-color: #BFF0CF;
  text-decoration-thickness: 0.25rem; }

.camposFormulario {
  border-color: #cae0d2;
  font-weight: 300; }
  .camposFormulario:focus {
    border-color: #335145;
    box-shadow: none; }

.badge--verde {
  /*esto modifica una clase de Bootstrap*/
  background-color: #BFF0CF;
  color: #212121;
  font-weight: 300; }

.accordion-button {
  box-shadow: none; }
  .accordion-button:not(.collapsed) {
    color: #335145;
    background-color: #E8F5E9;
    font-weight: 500; }

.botones, .botones--principal, .botones--medianos, .botones--pequeños {
  background-color: #335145;
  color: #ffffff;
  text-transform: uppercase;
  transition: background-color 1s; }
  .botones:hover, .botones--principal:hover, .botones--medianos:hover, .botones--pequeños:hover {
    background-color: #BFF0CF;
    color: #212121;
    text-decoration: none; }
  .botones--principal {
    background-color: #BFF0CF;
    color: #212121; }
    .botones--principal:hover {
      background-color: #335145;
      color: #ffffff; }
  .botones--medianos {
    font-size: 0.875rem; }
  .botones--pequeños {
    font-size: 0.75rem; }

header {
  position: sticky;
  top: 0rem;
  z-index: 50; }

.cuenta {
  padding: 0rem 3rem;
  background-color: #335145; }
  .cuenta a {
    color: #ffffff;
    font-size: 0.875rem;
    padding: 0.25rem 0.50rem; }
    .cuenta a:hover {
      color: #ffffff;
      transform: translateY(0.25rem);
      text-decoration: none; }
  .cuenta__imagen {
    max-width: 1rem;
    margin-top: 0.10rem; }

.menu {
  padding: 0rem 3rem;
  background-color: #ffffff; }
  .menu a:hover {
    transform: translateY(0.25rem);
    text-decoration: none; }
  .menu > a:hover {
    transform: translateY(0rem); }
  .menu__logo {
    height: auto;
    width: 100%;
    min-width: 3.75rem;
    max-width: 9.375rem; }
  .menu__link {
    color: #212121 !important; }
    .menu__linkDropdown:hover {
      background-color: #BFF0CF; }

.footer {
  background: linear-gradient(180deg, #E8F5E9 39%, #cae0d2 95%); }
  .footer h2 {
    color: #335145; }
  .footer a:hover {
    color: #212121; }
  .footer__imagenContacto {
    padding-bottom: 0.25rem; }
  .footer__imagenRedes:hover {
    opacity: 70%; }
  .footer__enlaceRedes:hover {
    text-decoration: none; }

/*Página principal*/
.bannerPrincipal {
  color: #ffffff; }
  .bannerPrincipal__texto {
    position: absolute;
    text-align: center;
    width: 100vw;
    padding-top: 17%; }
    .bannerPrincipal__texto h1 {
      font-size: 2.7rem;
      font-weight: 700; }
    .bannerPrincipal__texto__parrafo {
      font-size: 1.25rem;
      font-weight: 500;
      text-transform: uppercase; }

.beneficios {
  text-align: center;
  margin: 2rem 0rem; }
  .beneficios div {
    display: flex;
    justify-content: center;
    align-items: center; }
  .beneficios p {
    font-weight: 300;
    padding: 1rem 0rem 0rem 1rem;
    line-height: 1rem; }
  .beneficios span {
    font-weight: 400;
    display: block;
    text-transform: uppercase; }
  .beneficios__imagen {
    height: 2rem;
    width: auto; }

.grillaProductos {
  text-align: center; }
  .grillaProductos h3 {
    margin-bottom: 0rem; }
  .grillaProductos__precio {
    color: #335145;
    font-weight: 500; }
  .grillaProductos img:hover {
    transform: scale(1.03, 1.03);
    box-shadow: 0.125rem 0.125rem 0.125rem #d5d5d5; }
  .grillaProductos__titulo:hover {
    transform: none !important; }

/*Animación página nosotros*/
.paginaNosotrosImagen {
  animation-name: aclarar;
  animation-duration: 0.8s;
  animation-delay: 0s;
  animation-timing-function: ease; }

@keyframes aclarar {
  0% {
    filter: blur(1.5rem); }
  100% {
    filter: blur(0px); } }

.error404 {
  background-image: url(../images/error.jpeg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .error404__div {
    background-color: #ffffff;
    padding: 7rem 5rem; }
  .error404__img {
    max-width: 70vh; }
  .error404__texto {
    text-align: left; }

table {
  margin-top: 1.563rem;
  border: solid #212121 0.063rem; }
  table th {
    color: #335145;
    background-color: #E8F5E9;
    font-size: 1.125rem;
    font-weight: 700; }
  table td, table th {
    border: solid #212121 0.063rem;
    padding: 0.625rem; }

@media only screen and (max-width: 576px) {
  .bannerPrincipal__texto__parrafo, .beneficios__datos, .categorias {
    display: none !important; }
  .bannerPrincipal__texto {
    padding-top: 7%; }
    .bannerPrincipal__texto h1 {
      font-size: 1.25rem; } }

@media only screen and (min-width: 483px) and (max-width: 576px) {
  .beneficios__datos, .categorias {
    display: none !important; }
  .bannerPrincipal__texto {
    padding-top: 6%; }
    .bannerPrincipal__texto h1 {
      font-size: 2rem; }
  .bannerPrincipal__texto__parrafo {
    font-size: 1rem; } }

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bannerPrincipal__texto {
    padding-top: 7%; }
  .categorias {
    display: none; } }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .bannerPrincipal__texto {
    padding-top: 12%; }
  .categorias {
    display: none; } }
