@media only screen and (max-width: 498px){
    .dropdown-menu {
        border-color: $blanco;
    }
    .bannerPrincipal__texto__parrafo, .beneficios__datos, .categorias {
        display: none !important;
    }
    .bannerPrincipal {
        &__texto {
            padding: 8% 1.5rem 0 0;
            h1 {
                font-size: 1.5rem;
            }
        }
        img {
            height: 12rem;
            object-fit: cover;
        }
    }
    .error404__div {
        width: 70vw;
    }
}

@media only screen and (min-width: 499px) and (max-width: 575px){
    .dropdown-menu {
        border-color: $blanco;
    }
    .beneficios__datos, .categorias {
        display: none !important;
    }
    .bannerPrincipal__texto {
        padding: 8% 1.5rem 0 0;
        h1 {
            font-size: 1.5rem;
        }
    }
    .error404__div {
        width: 70vw;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){   
    .dropdown-menu {
        border-color: $blanco;
    }
    .bannerPrincipal__texto {
        padding-top: 8%;
        h1 {
            font-size: 2rem;
        }
        &__parrafo {
            font-size: 1rem;
        }
    }
    .beneficios__datos, .categorias {
        display: none !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
   .dropdown-menu {
       border-color: $blanco;
   }
    .bannerPrincipal__texto {
        padding-top: 10%;
    }
    .categorias {
        display: none;
    }
}


