@media only screen and (max-width: 498px){
    .bannerPrincipal__texto__parrafo, .beneficios__datos, .categorias {
        display: none !important;
    }
    .bannerPrincipal__texto {
        padding-top: 8%;
        padding-right: 1.5rem;
        h1 {
            font-size: 1.5rem;
        }
    }

    .bannerPrincipal img {
        height: 25vh;
        object-fit: cover;
    }

    .error404__div {
        width: 70vw;
    }
}


@media only screen and (min-width: 499px) and (max-width: 575px){
    .beneficios__datos, .categorias {
        display: none !important;
    }

    .bannerPrincipal__texto {
        padding-top: 8%;
        padding-right: 1.5rem;
        h1 {
            font-size: 1.5rem;
        }
    }

    .error404__div {
        width: 70vw;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){   
    .bannerPrincipal__texto {
        padding-top: 8%;
        h1 {
            font-size: 2rem;
        }
    }

    .bannerPrincipal__texto__parrafo {
        font-size: 1rem;
    }

    .beneficios__datos, .categorias {
        display: none !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
   .bannerPrincipal__texto {
        padding-top: 10%;
    }
    
    .categorias {
        display: none;
    }
}


