@import "variables.scss";

body {
    font-family: 'Roboto', sans-serif;
    color: $negro;
}

main {
    animation-name: cargaPagina;
    animation-duration: 0.7s;
    img {
        width: 100%;
        height: auto;
    }
}
@keyframes cargaPagina {
    0% {opacity:0; transform: translateY(-0.635rem);}
    100% {opacity: 1; transform: translateY(0rem);}
}

/*h1-h3*/
$x:0.75;
@for $i from 1 to 4{
    h#{$i} {
        font-size: 1rem+($x)-0.25;
        @if ($i==1) {
            font-weight: $negrita;
            text-align: center;
        }
        @else {
            @if ($i==3) {
                font-weight: $medium;
            }
        }
    }
    $x:$x - 0.25;
}

a {
    text-decoration: none;
    color: $negro;
    &:hover{
        text-decoration: underline;
        color: $negro;
    }
}

.camposFormulario {
    border-color: $verdeIntermedio;
    font-weight: $light;
    &:focus{
        border-color: $verdeOscuro;
        box-shadow: none;
    }
}

.botones {
    background-color: $verdeOscuro;
    color: $blanco;
    text-transform: uppercase;
    transition: background-color 1s;
    &:hover {
        background-color: $verdeLogo;
        color: $negro;
        text-decoration: none;
    }

    $tamaño: ( 
        medianos: (14rem/16),
        pequeños: (12rem/16)
    );
    @each $size, $font in $tamaño {
        &--#{$size}{
            font-size: $font;
        } 
    }

    $color: (
        principal: $verdeLogo,
        secundarios: $blanco,
        whatsapp: #00bb2d
    );
    @each $tipo, $fondo in $color {
        &--#{$tipo}{
            background-color: $fondo;
            @if ($tipo == "principal") {
                color: $negro;
                font-size: 0,85rem;
                    &:hover{
                background-color: $verdeOscuro;
                color: $blanco;
                }
            }
            @if ($tipo == "secundarios") {
                border-color: $verdeOscuro;
                color: $verdeOscuro;
                font-size: 0.75rem;
                padding: 0.25rem 0.50rem;
            }
            @if ($tipo == "whatsapp") {
                max-width: 2.5rem;
                padding: 0.5rem;
                position: fixed;
                bottom: 3vh;
                right: 3vh;
                z-index: 3;
                border-radius: 50%;
            }
        }    
    }
}

/*Cambios clases de Bootstrap*/
.badge--verde { 
    background-color: $verdeLogo;
    color: $negro;
    font-weight: $light;
}

.accordion-button{
    box-shadow: none !important;
    &:not(.collapsed) {
        color: $verdeOscuro;
        background-color: $verdeClaro;
        font-weight: $medium;
    }
}
