@import "variables.scss";

table {
    margin-top: 1.563rem;
    border: solid $negro 0.063rem;

    th {
        color: $verdeOscuro;
        background-color: $verdeClaro;
        font-size: 1.125rem;
        font-weight: 700;
    }
    
    td, th {
        border: solid $negro 0.063rem;
        padding: 0.625rem;
    }
}


