@import "variables.scss";

table {
    margin-top: 1.5rem;
    border: solid $negro 0.05rem;

    th {
        color: $verdeOscuro;
        background-color: $verdeClaro;
        font-weight: $negrita;
    }
    
    td, th {
        border: solid $negro 0.05rem;
        padding: 0.5rem;
    }
}


