$verdeClaro: #E8F5E9;
$verdeIntermedio: #cae0d2;
$verdeLogo: #BFF0CF;
$verdeOscuro: #335145;
$negro: #212121;
$blanco: #ffffff;
$gris: #d5d5d5;

$negrita: 700;
$medium: 500;
$regular: 400;
$light: 300;
